.cards{
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(1fr, 400px));
    column-gap: 40px;
    margin-top: 38px;
}
.card{
    height: 90px;
    margin: 0px 0px 30px 0px;
    display: grid;
    grid-template-columns: 87.6% 12.4%;
    opacity: 0.8;
    border-radius: 6px;
    border: solid 1px #979797;
    background-color: #fff;

}

.card :hover{
    opacity: .7;
    cursor: pointer;
}

.card__content{
    display: flex ;
    flex-direction: column;
    margin-right: 16px;
    text-decoration: none;
}


.card__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background-color: #F7F7F7;
}

.card__body{
    margin-left: 26px;
    display: flex;
}

.card__body__icon{
    width: 16px;
    height: 16px;
    margin-top: 14px;
   
}

.card__body__textTime{
    margin-left: 10px;
    margin-top: 16px;
    font-family: Roboto;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #606060;
}

.card__body__text{
    height: 40px;
    margin: 6px 16px 0px 26px;
    text-align: justify;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 0.25px;
    color: #606060;
}


@media screen and (max-width:305px) {
    .card{
        height: 130px;
    }
    }
    @media screen and (min-width:305px) {
    .card{
        height: 100px;
    }
    }
    
    
    
    @media screen and (min-width:768px) {
        .cards{
            display: grid;
            grid-template-columns: repeat( auto-fill, minmax(350px, 1fr));
            column-gap: 40px;
            margin-top: 38px;
        }
        .card{
            height: 90px;
        }
    
    }
    /* For large devices */
    
     @media screen and (min-width:1024px) {
        .cards{
            display: grid;
            grid-template-columns: repeat( auto-fill, minmax(380px, 1fr));
            column-gap: 40px;
            margin-top: 38px;
        }
        .card{
            height: 90px;
        }
        
      }
       
    
       @media screen and (min-width:1255px) {

    
        .cards{
            display: grid;
            grid-template-columns: repeat( auto-fill, minmax(430px, 1fr));
            column-gap: 40px;
            margin-top: 38px;
        }

      }
       
      @media screen and (min-width:1400px) {
        .cards{
            display: grid;
            grid-template-columns: repeat( auto-fill, minmax(500px, 1fr));
            column-gap: 40px;
            margin-top: 38px;
        }
        .card{
            width: 550px;
            height: 90px;
        }
      }