/*==================== GOOGLE FONTS ====================*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/*==================== VARIABLES CSS ====================*/

:root {
    --header-height: 3rem;
    /*========== Colors ==========*/

    --body-color: #fcfcfc;
    --text-color: #000;

    /*========== Seccion btn all- myfaves ==========*/

    --btn-color-all: #1797ff;
    --btn-color-myfaves: #606060;



}


*{
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body{
  font-family: var(--body-font);
  background-color: var(--body-color);
  color: var(--text-color);
}

.container{
  margin-left: var(--m-container);
  margin-right: var(--m-container);
}


/*==================== MEDIA QUERIES ====================*/

/* For small devices */

@media screen and (max-width:305px) {

  .container{
    margin-left: 10px;
    margin-right: 10px;
  }

  :root{
    --m-container: 10px; 
  }


}


/* For medium devices */

@media screen and (min-width:305px) {
  .container{
    margin-left: 30px;
    margin-right: 30px;
  }
  :root{
    --m-container: 30px; 
  }
}

@media screen and (min-width:768px) {
  .container{
    margin-left: 100px;
    margin-right: 100px;
  }
  :root{
    --m-container: 100px; 
  }
}

/* For large devices */

@media screen and (min-width:1255px) {
  body{
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
  }

}
@media screen and (min-width:1255px) {
.container{
  margin-left: 150px;
  margin-right: 150px; 
}
  :root{
    --m-container: 150px; 
  }
}
/* @media screen and (min-width:1400px) {

.container{
  margin-left: 150px;
  margin-right: 150px; 
}
  :root{
    --m-container: 150px; 
  }
} */

