.container__btn{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 157px;
    top: calc(100vh - 184px);
}


.box__btn {
    width: 98px;
    height: 31px;
    border-radius: 2px 0 0 2px;
    border: solid 1px #d6d6d6;
    padding: 0;
}

.box__btn:hover{
    cursor: pointer;
    opacity: .8;
    border: solid 1px #1797ff;
    color: #1797ff;
}

.box__btn_active {
    width: 98px;
    height: 31px;
    border-radius: 2px 0 0 2px;
    padding: 0;
    border: solid 1px #1797ff;
    color: #1797ff;
}

.box__btn span{
    padding: 3px 17px 0 16px;
    width: 65px;
    height: 28px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: center;
    color: #606060;
}

.box__btn_active span{
    color: #1797ff;
    padding: 3px 17px 0 16px;
    width: 65px;
    height: 28px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: center;
}



.Rectangle {
    width: 98px;
    height: 31px;
    border-radius: 2px 0 0 2px;
    border: solid 1px #1797ff;
    border-right: none;
    padding: 0;
  }
.Rectangle2 {
    width: 98px;
    height: 31px;
    border-radius: 0 2px 2px 0;
    border: solid 1px #d6d6d6;
    padding: 0;
  }

.All {
    padding: 3px 39px 0 40px;
    width: 19px;
    height: 28px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: center;
    color: #1797ff;
}

.My-faves {
    padding: 3px 17px 0 16px;
    width: 65px;
    height: 28px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: center;
    color: #606060;
  }
