

.navbar {
    height: var(--heigth-navbar);
    /* width: 100vw; */
    box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
    background-image: linear-gradient(to bottom, #ececec -32%, #fff 124%);
  }

.logoimg{
    width: 208px;
    padding-top: 44px;
    padding-bottom: 42px;
}


@media screen and (min-width:1440px) {



  body{
    max-width: 100vw;
    margin: 0;
  }

  .container{
    padding-left: 40px;
    padding-right: 40px;
  }

  .navbar{
    width: 100vw;
  }
}
@media screen and (min-width:1540px) {

  .container{
    padding-left: 80px;
    padding-right: 80px;
  }


}