
    .paginationContent{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        top: calc(100vh - 894px);
        margin-top: 80px;
        padding-bottom: 60px;
        flex-direction: row;
    }
    
    .rectanglePagination{
        width: 32px;
        height: 32px;
        margin: 0 8px 0 0;
        border-radius: 6px;
        border: solid 1px #d9d9d9;
        background-color: #fff;
    }

    .rectanglePagination:hover{
        opacity: .7;
        cursor: pointer;
    }
    .contentIcon{
        padding: 9px;
        margin-top: 2px;
        margin-left: 3px;
        width: 14px;
        height: 14px;
    }
    
    .iconNext{
        width: 7px;
        height: 7px;
        border-bottom: solid 2px rgba(0, 0, 0, 0.65);
        border-right: solid 2px rgba(0, 0, 0, 0.65);
        transform: rotate(305deg);

    }
    
    .iconPrev{
        width: 7px;
        height: 7px;
        border-bottom: solid 2px rgba(0, 0, 0, 0.65);
        border-right: solid 2px rgba(0, 0, 0, 0.65);
        transform: rotate(135deg);
    }
    .contentNumber{
        padding: 6px 12px;
        
    }
    
    .active{
        background-color: #1890ff;
    }
    
    .activeNumberItem span{
        color: #fff;
    }