.container__select{
    width: 240px;
    height: 32px;
    border: 0;
}

.container__select:hover{
    cursor: pointer;
}


.rectangle__select{
    width: 238px;
    height: 30px;
    border-radius: 4px;
    border: solid 1px #2e2e2e;
    background-color: #fff;
    display: flex;
}

.text__select{
    width: 183px;
    height: 22px;
    padding: 5px 0 5px 12px;
    margin: 0 0px 0 0;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #343434;
}

.icon__select{
    width: 14px;
    height: 14px;
    margin: 4px 12px 4px 19px;
    padding: 4px 2px 3px;
    display: flex;
    align-items: center;
}

.mask__select{
    width: 8px;
    height: 8px;
    margin: 6px 0 9px 0;
    border-bottom: solid 2px #2e2e2e;
    border-right: solid 2px #2e2e2e;
    transform: rotate(45deg);
}


/* selector */
.content__select{
    width: 240px;
    height: 139px;
    margin: 0 0 0 1px;
    box-shadow: 0 2px 2px 0 #dad8d8;
    background-color: #fff;
    
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 2px 0 #dad8d8;

    position: absolute;
    z-index: 1;

    margin-left: var(--m-container);
}

/* CMB */
.bodyContainer{
    width: 240px;
    height: 32px;
    border: 0;
  }
  
  .Rectangle-26-Copy-23 {
    width: 238px;
    height: 30px;
    border-radius: 4px;
    border: solid 1px #2e2e2e;
    background-color: #fff;
    display: flex;
  }
  
  .Text {
    width: 183px;
    height: 22px;
    padding: 5px 0 5px 12px;
    margin: 0 0px 0 0;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #343434;
  }

  .cmbContainer{
    width: 14px;
    height: 14px;
    margin: 4px 12px 4px 19px;
    padding: 4px 2px 3px;
    display: flex;
    align-items: center;
  }

  .Mask {
    width: 8px;
    height: 8px;
    margin: 6px 0 9px 0;
    border-bottom: solid 2px #2e2e2e;
    border-right: solid 2px #2e2e2e;
    transform: rotate(45deg);
  }


  /* selector */
  .selectContent {
    width: 240px;
    height: 139px;
    margin: 0 0 0 1px;
    box-shadow: 0 2px 2px 0 #dad8d8;
    background-color: #fff;
    
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 2px 0 #dad8d8;

    position: absolute;
    z-index: 1;

    margin-left: var(--m-container);

  }
  
  .selectItem{
    height: 46px;
    width: 240px;
    display: flex;
    background-color: #fff;

    
  }

  .selectItem:hover{
      cursor: pointer;
      background-color: #cecece;
  }

  .imgSelect{
    width: 24px;
    height: 24px;
    object-fit: contain;
    padding-top: 16px; 
    padding: 12px 0 10px 11px;
  }


  .nameSelectItem{
    width: 49px;
    height: 22px;
    padding: 15px 0 8px 0;
    margin: 0 0 65px 13px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #343434;
  }

  .activeSelectItem{
    background-color: #eaeaea;
    height: 46px;
    width: 240px;
    display: flex;
  }